@media (max-width: 1199px) {

  #loginPage main .login-column {
    padding: 25px 25px 50px;

    .btn:not(:last-child) {
      margin-right: 5px;
    }

    #languageSelector {
      left: 25px;
      right: 25px;
    }
  }
}

@media (max-width: 991px) {
  #loginPage main .login-column {
    padding: 25px 25px 50px;

    .btn:not(:last-child) {
      margin-right: 0;
      margin-bottom: 5px;
    }

    #languageSelector {
      left: 25px;
      right: 25px;
    }
  }
}

@media (max-width: 767px) {
  #loginPage {
    main {
      .login-column {
        padding: 25px 50px 50px;

        .logo{
          margin-bottom: 30px;
        }

        h2 {
          font-size: 26px;
        }

        &>p {
          font-size: 14px;
        }

        #loginForm {

          .login-form {
            margin-top: 23px;

            .input {
              label {
                top: 10px;
              }

              input {
                padding: 20px 20px 10px 20px;
                height: 60px;
              }
            }
          }

          .forgotten {
            margin: 12px 0;
          }

          .btn {
            transform: scale(.9);
          }
        }

        #languageSelector {
          top: calc(100% - 35px);

          p {
            font-size: 14px;
          }

          .languages {
            .lang {
              img {
                height: 18px;
                width: 18px;
              }
            }
          }
        }

        .btn:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}