{layout "../layout.latte"}
{block content}
    <br>
    <h1>500</h1>
    <p>{_('Na stránce se vyskytla chyba. Administrátor byl o chybě informován a bude se jí věnovat v nejbližší možné době.')}</p><br><br>
{/block}