@import "category/active-filter";
@import "category/filter";
@import "category/list-settings";
@import "category/list-pagination";
@import "category/sub-categories";

#category-products.loading {
    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #333333;
        z-index: 9999;
        opacity: .3;
    }
}