<div class="navigation-container">
    <ul>
        <li class="active">
            <a data-href="order-list">{_('Přehled')}</a>
        </li>
        <li>
            <a data-href="address-list">{_('Adresa')}</a>
        </li>
        <li>
            <a data-href="edit-password">{_('Heslo')}</a>
        </li>
    </ul>
</div>