$color-primary: #1c1475;
$color-primary-light: #8e89ce;

$color-primary-default-left: #026ada;
$color-primary-default-right: #011e7c;
$color-primary-hover-left: #0052ab;
$color-primary-hover-right: #00155d;

$color-dark-default-left: #026ada;
$color-dark-default-right: #011e7c;
$color-dark-hover-left: #0052ab;
$color-dark-hover-right: #00155d;


$color-green: #00A34B;
$color-red: #E42C27;
$color-yellow: #FFA923;
$color-info: #026ada;

