{layout "../layout.latte"}
{block content}
    <div class="row">
        <div class="col-md-6">
            {$groupGrid->render()}
        </div>
        <div class="col-md-6">
            {$groupDiscountGrid->render()}
        </div>
    </div>
{/block}