{define button}
    <a href="{$src}" style="border-radius:4px;color:#ffffff;background-color:#F49536;padding:8px 24px;margin: 0 10px;text-decoration:none;">{$text|noescape}</a>
{/define}

{block buttonSpacer}<span style="padding:0 10px;"></span>{/block}

{define button-outline}
    <a href="{$src}" style="border-radius:4px;color:#ffffff;background-color:#F49536;padding:8px 24px;margin: 0 10px;text-decoration:none;">{$text|noescape}</a>
{/define}