.container {
    position: relative;
    max-width: 1352px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1300px) {
    .container {
        width: 1240px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1352px;
    }
}