{varType Jolanda\Controls\Editor\EntityEditor $editor}

<script>
    /**
     * @namespace { EntityEditor } editor
     */
    var editor;

    $(() => {
        editor = {$editor->getId()|noescape};
    });
</script>