<div id="breadcrumb">
    <a href="/"><span class="home"></span></a>
    <a n:foreach="$breadcrumbs as $breadcrumb" href="/{$breadcrumb['link']}"><span>{$breadcrumb['title']|cleanEntities}</span></a>
</div>