<div class="copyright-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">© {date('Y')} <strong>{$eshop->getSettings('ProjectName')}</strong>, {_('všechna práva vyhrazena.')}</div>
            <div class="col-md-6 text-center text-md-end">Powered by: <a href="https://www.evidsoft.cz">evidsoft.cz</a></div>
        </div>
    </div>
</div>