{layout "../layout.latte"}
{block content}
    <div class="row">
        <div class="col-md-4">{$orderGrid->render()}</div>
        <div class="col-md-4">{$balikobotPackageGrid->render()}</div>
        <div class="col-md-4">{$balikobotPackageStateGrid->render()}</div>
    </div>
{/block}

{block scripts}
    <script>
        var formatUrl = function (url) {
            return '<a href="' + url + '" target="_blank">' + url + '</a>';
        }
    </script>
{/block}