{layout "../layout.latte"}
{block content}
    <div class="row">
        <div class="col-md-4">{$orderGrid->render()}</div>
        <div class="col-md-4">{$gopayPaymentGrid->render()}</div>
        <div class="col-md-4">{$gopayPaymentStateGrid->render()}</div>
    </div>
{/block}
