#header {
    .control-container {
        padding: 20px 0 20px;

        .logo-block {
            margin-left: -20px;
        }

        .search-block {
            position: relative;

            form {
                position: relative;
                width: 100%;

                & > input {
                    background: #FFFFFF url('/img/front/icons/layout/header/search.svg') left 20px center no-repeat;
                    padding: 7px 8px 7px 50px;
                    border: none;
                    width: 100%;
                    position: relative;
                    font-weight: 400;
                    font-size: 14px;
                    height: 50px;
                    border-radius: 25px;

                    &:focus, &:active {
                        outline: none;
                    }
                }

                .btn {
                    position: absolute;
                    right: 3px;
                    top: 3px;
                    border-radius: 30px;
                    padding: 11px 32px 12px;
                }

                .button-wrapper {
                    .clear-search {
                        position: absolute;
                        top: -6px;
                        bottom: 0;
                        right: 100px;
                        line-height: 42px;
                        padding: 0 15px;
                        outline: none;
                        border: none;
                        background: transparent;
                        color: $font-primary-dark;
                        font-weight: 100;
                        font-size: 36px;
                        @include animation();

                        &:hover {
                            color: $button-primary;
                        }
                    }
                }

                & > input {
                    &:placeholder-shown + .button-wrapper {
                        .clear-search {
                            opacity: 0;
                            pointer-events: none;
                        }
                    }
                }
            }

            #search-result-block {
                display: none;
                position: absolute;
                top: calc(100% + 10px);
                left: -60px;
                right: -60px;
                background-color: #fff;
                box-shadow: 0 12px 24px 0 rgba(22, 23, 51, 0.19);
                z-index: 5;
                border-radius: 6px;
                padding: 10px;
                max-height: 600px;
                color: $font-primary-dark;
                overflow-x: auto;
                @include scrollbar();

                a {
                    color: $font-primary-dark;
                }

                .loading, .nothing-found {
                    padding: 15px;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                }

                .headline {
                    font-size: 14px;
                    font-weight: 600;
                    padding: 5px 10px;
                    border-bottom: 1px solid $border-primary-item;

                    span {
                        color: #01BC08;
                        background: #D3FAD9;
                        display: inline-block;
                        border-radius: 6px;
                        font-size: 12px;
                        font-weight: 500;
                        padding: 4px 10px;
                        margin-left: 5px;
                    }
                }

                .show-all {
                    margin-top: 10px;
                    padding: 5px 0;
                    font-weight: 500;
                    text-align: center;

                    a {
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    span {
                        font-weight: 400;
                    }
                }

                .categories, .news {
                    padding: 10px;
                    font-size: 13px;

                    .item {
                        padding: 2px 0;
                        font-weight: 500;

                        span {
                            font-weight: 400;
                        }
                    }
                }

                .products {
                    padding: 10px;

                    .item {
                        .photo {
                            height: 110px;
                            padding: 10px 0;
                            margin-bottom: 10px;
                            text-align: center;

                            img {
                                max-height: 100%;
                            }
                        }

                        .name {
                            font-size: 13px;
                            line-height: 18px;
                            width: 100%;
                            font-weight: 500;
                            text-decoration: none;
                            height: 50px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            margin-bottom: 10px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .availability {
                            display: inline-block;
                            margin-bottom: 2px;

                            &.on-stock {
                                color: $font-primary-green;
                                background: url('/img/front/icons/components/product/on-stock.svg') left -3px center no-repeat;
                                padding-left: 21px;
                                font-size: 12px;
                                font-weight: 600;
                            }
                        }

                        .price {
                            font-weight: 700;
                            font-size: 14px;
                            text-align: center;
                            color: $font-primary-red;
                        }
                    }
                }

                &.active {
                    display: block;
                }
            }
        }

        .compare-block {
            margin-right: 10px;
            background: url('/img/front/icons/layout/header/compare.svg') center center no-repeat;
            width: 32px;
            height: 32px;
            cursor: pointer;
            @include animation();
            position: relative;

            &:hover {
                opacity: .7;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: -6px;
                width: 1px;
                height: 100%;
                background-color: #ffffff;
                opacity: 0.1;
            }
        }

        .favorite-block {
            margin-right: 15px;
            background: url('/img/front/icons/layout/header/favorite.svg') center center no-repeat;
            width: 32px;
            height: 32px;
            cursor: pointer;
            @include animation();
            position: relative;

            &:hover {
                opacity: .7;
            }

            &:before {
                content: "";
                position: absolute;
                top: 0;
                right: -6px;
                width: 1px;
                height: 100%;
                background-color: #ffffff;
                opacity: 0.1;
            }
        }

        .cart-block {
            position: relative;
            z-index: 10;
            text-align: right;

            .current-state-block {
                display: inline-block;
                @include animation(all .15s ease-in-out);
                position: relative;
                line-height: 18px;
                padding-left: 35px;
                text-decoration: none;
                text-align: left;
                font-size: 14px;

                &:before {
                    content: "";
                    background: url('/img/front/icons/layout/header/cart.svg') left center no-repeat;
                    width: 24px;
                    height: 24px;
                    position: absolute;
                    top: 7px;
                    left: 0;
                    @include animation();
                }

                &:hover:before {
                    opacity: .7;
                }

                .count {
                    font-weight: 600;
                    color: $font-primary-white;
                }

                .price {
                    font-weight: 600;
                    color: $font-primary-red;
                }
            }

            .summary-block {
                opacity: 0;
                display: none;
                padding-top: 20px;
                position: absolute;
                top: calc(100%);
                right: 0;
                text-align: left;
                color: $font-primary-dark;

                &:before {
                    content: "";
                    position: absolute;
                    top: 15px;
                    right: 90px;
                    background: #FFFFFF;
                    width: 30px;
                    height: 30px;
                    transform: rotate(45deg);
                    z-index: 15;
                }

                .summary {
                    position: relative;
                    background: #fff;
                    min-width: 650px;
                    max-width: 460px;
                    z-index: 10;
                    border-radius: 16px;
                    padding: 20px 25px;
                    overflow: hidden;
                    box-shadow: 0 17px 14px -10px rgba(30, 49, 62, 0.15);
                    border: 1px solid #D8E4F7;
                    @include animation(all .15s ease-in-out);

                    .headline {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    .total-price-block {
                        background-color: #F5F7F9;
                        padding: 25px 20px;
                        margin: 5px 0;
                        text-align: right;
                        display: flex;
                        justify-content: space-between;
                        border-radius: 8px;
                        border: 1px solid #E6EFFD;
                        background: $background-primary-light;
                        font-size: 14px;
                        font-weight: 500;

                        .price {
                            font-size: 20px;
                            font-weight: 700;
                            color: $font-primary-red;
                        }
                    }

                    .button-block {
                        padding: 10px 0 5px;
                        text-align: right;

                        a {
                            text-decoration: none;
                        }
                    }

                    .items-block {
                        .item {
                            max-width: 100%;
                            padding: 15px 0;
                            font-size: 12px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                            border-bottom: 1px solid #E6EFFD;

                            &:last-of-type {
                                border-bottom: 0;
                            }

                            & > * {
                                display: inline-block;

                                &:not(:first-child) {
                                    padding-left: 5px;
                                }

                                &:not(:last-child) {
                                    padding-right: 5px;
                                }
                            }

                            .photo-block {
                                width: 50px;
                                height: 50px;
                                white-space: nowrap;

                                img {
                                    display: block;
                                    margin: auto;
                                    width: 50px;
                                    height: 50px;
                                    object-fit: contain;
                                    object-position: center;
                                }
                            }

                            .info-block {
                                width: 320px;
                                font-size: 12px;
                                padding-left: 10px;
                                font-weight: 700;

                                .code {
                                    font-weight: 400;

                                    span {
                                        font-weight: 600;
                                    }
                                }

                                .availability {
                                    &.on-stock {
                                        color: $font-primary-green;
                                        background: url('/img/front/icons/components/product/on-stock.svg') left -3px center no-repeat;
                                        padding-left: 21px;
                                        font-size: 11px;
                                        font-weight: 600;
                                    }
                                }

                                a {
                                    color: $font-primary-dark;
                                    text-decoration: none;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            .quantity-block {
                                display: flex;
                                align-items: center;

                                .quantity {
                                    font-weight: 500;
                                    width: 38px;
                                    border: none;
                                    margin: 0 4px;
                                    padding: 5px 0;
                                    text-align: center;
                                }

                                .quantity::-webkit-inner-spin-button,
                                .quantity::-webkit-outer-spin-button {
                                    -webkit-appearance: none;
                                    margin: 0;
                                }

                                .quantity[type=number] {
                                    -moz-appearance: textfield; /* Pro Firefox */
                                }

                                .quantity-change {
                                    display: block;
                                    width: 30px;
                                    height: 30px;
                                    background-color: $background-primary-light;
                                    border-radius: 3px;
                                    font-weight: 500;
                                    font-size: 22px;
                                    text-align: center;
                                    line-height: 27px;
                                    cursor: pointer;
                                    @include animation();

                                    &:hover {
                                        background-color: darken($background-primary-light, 5%);
                                    }
                                }
                            }

                            .price-block {
                                font-size: 14px;
                                font-weight: 700;
                                text-align: right;
                                min-width: 100px;
                                color: $font-primary-red;
                            }

                            .remove-block {
                                text-align: center;

                                a {
                                    text-decoration: none;

                                    .remove {
                                        padding: 3px 6px;
                                        font-size: 16px;
                                        color: $font-primary-darklight;
                                        opacity: .5;
                                        @include animation();

                                        &:hover {
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &:not(.empty):hover {
                .summary-block {
                    pointer-events: initial;
                    opacity: 1;
                    display: block;
                }
            }
        }

        #toggle-menu {
            display: none;
            cursor: pointer;
            position: relative;
            z-index: 502;
            float: right;
            margin-left: 10px;
            padding: 4px 6px;
            border-radius: 5px;
            @include gradient-red();

            .bar1, .bar2, .bar3 {
                width: 21px;
                height: 3px;
                border-radius: 2px;
                background-color: #FFFFFF;
                transition: 0.4s;
                margin: 4px 0;
            }

            &.active {
                .bar1 {
                    -webkit-transform: rotate(-45deg) translate(-5px, 5px);
                    transform: rotate(-45deg) translate(-5px, 5px);
                }

                .bar2 {
                    opacity: 0;
                }

                .bar3 {
                    -webkit-transform: rotate(45deg) translate(-5px, -5px);
                    transform: rotate(45deg) translate(-5px, -5px);
                }
            }
        }

        .mobile-cart {
            display: none;
            background: url(/img/front/icons/layout/header/cart.svg) left center no-repeat;
            width: 24px;
            height: 24px;
            margin-right: 8px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: -10px;
                top: 0;
                width: 1px;
                height: 100%;
                background: #FFFFFF;
                opacity: .1;
            }

            .count {
                position: absolute;
                top: 15px;
                left: 11px;
                background: $background-primary-red;
                color: $font-primary-white;
                font-size: 11px;
                font-weight: 500;
                text-align: center;
                width: 16px;
                height: 16px;
                border-radius: 4px;
            }
        }

        .mobile-client {
            display: none;
            background: url(/img/front/icons/layout/header/client.svg) left center no-repeat;
            width: 24px;
            height: 24px;
            margin-right: 14px;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: -10px;
                top: 0;
                width: 1px;
                height: 100%;
                background: #FFFFFF;
                opacity: .1;
            }
        }

        .mobile-search {
            display: none;
            background: url(/img/front/icons/layout/header/search-mobile.svg) left center no-repeat;
            width: 24px;
            height: 24px;
            margin-right: 14px;
            cursor: pointer;
        }
    }
}

@media (max-width: 991px) {
    #header {
        .control-container {
            .logo-block {
                margin-left: 0;
            }

            #toggle-menu {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 768px) {
    #header {
        .control-container {
            padding: 13px 0;



            .cart-block {
                display: none;
            }

            .mobile-search, .mobile-cart, .mobile-client {
                display: inline-block;
            }

            .search-block-holder {
                position: initial;

                .search-block {
                    display: none;
                    position: absolute;
                    left: 0;
                    width: 100%;
                    top: 43px;
                    padding: 15px;
                    box-shadow: 0 12px 24px 0 rgba(22, 23, 51, 0.19);
                    z-index: 9999;
                    background: #FFFFFF;

                    form > input {
                        border: 1px solid $border-dark
                    }
                }

                #search-result-block {
                    left: 0;
                    right: 0;
                    max-height: 65vh;
                }
            }
        }
    }
}