{layout "../layout.latte"}
{block content}
    <div class="row">
        <div class="col-md-5">{$menuGrid->render()}</div>
        <div class="col-md-7">{$menuItemGrid->render()}</div>
    </div>
{/block}
