{layout "../layout.latte"}
{block content}
    {$orderStateTypeGrid->render()}
{/block}

{block scripts}
    {include parent}
    <script>
        var rowFormatter = (row, data, index) => {
            if(data.Color) {
                $(row).css('--rowColor', data.Color);
                $(row).addClass('customColor');
            }
        }
    </script>
{/block}