{layout "../layout.latte"}
{block content}
    <div class="row">
        <div class="col-md-6">{$parameterGrid->render()}</div>
        <div class="col-md-6">{$parameterValueGrid->render()}</div>
    </div>

{/block}
