{layout "../layout.latte"}
{block content}
    <div class="row">
        <div class="col-md-6">
            {$shippingGrid->render()}
        </div>
        <div class="col-md-6">
            {$shippingCategoryGrid->render()}
        </div>
    </div>
{/block}
