<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {foreach $products as $product}
    <url>
        <loc>{$eshop->getURL()}/{\URL::PRODUCT}/{$product['slug']}</loc>
        <changefreq>weekly</changefreq>
        <lastmod>{$date}</lastmod>
        <priority>0.8</priority>
    </url>
    {/foreach}
</urlset>
