$font-primary-dark: #002541;
$font-primary-darklight: #6776AA;
$font-primary-light: #B4BDDB;
$font-primary-red: #E82121;
$font-primary-green: #22DAA2;
$font-primary-orange: #E87421;
$font-primary-black: #071029;
$font-primary-white: #FFFFFF;

$font-header: #CEDBF0;
$font-footer: #CEDBF0;
$font-link: $font-primary-dark;
$font-label: $font-primary-dark;
$font-placeholder: $font-primary-dark;

$border-dark: #002541;
$border-primary-item: #CEDBF0;
$border-primary-item-hover: #A4B5D0;
$border-primary-red: #E82121;
$border-primary-light: #E6EFFD;

$button-primary: #FF1717;
$button-secondary: #A10D0D;
$button-text: #FFFFFF;

$background-primary-light: #F3F7FF;
$background-primary-red: #FF1717;
$background-primary-dark: #002541;