<div>
    <table style="width:100%">
        <tr>
            <th style="width: 50%; font-size: 20px; text-align: left;">Hlavně v klidu, s.r.o.</th>
            <th style="width: 80%; font-size: 20px; text-align: right; color: #000000; text-transform: uppercase; vertical-align: bottom; font-weight: bold">{$headerText}</th>
        </tr>
    </table>
</div>