#loginPage {
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-content: center;

  main {
    position: relative;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 3px 25px #00000029;
    padding: 0;

    .login-column {
      position: relative;
      padding: 58px 50px;

      .logo {
        width: 200px;
        margin-bottom: 62px;
      }

      h2 {
        font-weight: 500;
        font-size: 32px;
        margin: 0;
      }

      p {
        font-size: 16px;
        margin: 0;
        margin-top: 11px;
      }

      .login-form {
        background: #FFFFFF;
        box-shadow: 0 7px 15px #00000045;
        margin-top: 46px;


        .input {
          position: relative;

          &:first-of-type {
            border-bottom: 1px solid #E9E9E9;
          }

          span {
            position: absolute;
            content: '';
            left: -3px;
            top: 0px;
            background: #00B94F;
            border-radius: 5px 0 0 5px;
            width: 3px;
            height: 100%;
            opacity: 0;
            transition: opacity .3s ease;
          }

          label {
            position: absolute;
            letter-spacing: 0.42px;
            color: #B9B9B9;
            top: 11px;
            left: 20px;
          }

          input {
            width: 100%;
            height: 60px;
            border: 0;
            background-color: #fff !important;
            letter-spacing: 0.42px;
            color: #000000;
            font-weight: 500;
            padding: 31px 20px 9px 20px;

            &:focus + span {
              opacity: 1;
            }
          }

        }
      }

      .forgotten {
        margin: 34px 0;
        text-align: right;

        a {
          color: #000;
        }
      }

      .btn {
        &:not(:last-child) {
          margin-right: 20px;
        }
      }

      .active {
        display: block !important;
      }

      #languageSelector {
        position: absolute;
        bottom: 5px;
        left: 50px;
        right: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: flex-end;

        p {
          margin: 0 0 5px auto;
          font-weight: 500;
          flex: 0 0 100%;
          text-align: right;
        }

        .languages {
          position: relative;
          display: block;
          overflow: auto;
          flex: 0 0 100%;
          width: 100%;
          white-space: nowrap;
          padding-bottom: 2px;
          text-align: right;
          @include scrollbar();

          .lang {
            position: relative;
            margin: 0 2px;
            transition: all .3s ease-in-out;
            filter: grayscale(0.9);
            text-decoration: none;
            display: inline-block!important;

            &:last-child {
              margin-right: 0;
            }

            img {
              width: 28px;
              height: 28px;
              object-fit: cover;
              object-position: center;
            }

            &.active, &:hover {
              filter: grayscale(0);
            }
          }
        }
      }
    }
  }

}

@import "responsive/login";