{layout "../layout.latte"}
{block content}
    <div id="lost-password">
        <div class="text-center">
            <h1>{_('Zapomenuté heslo')}</h1>
            <p>{_('Vaše nové heslo bylo odesláno na Váš kontaktní e-mail.')}</p>
        </div>
    </div>
{/block}