{layout "../layout.latte"}
{block content}
    <div id="register">
        <div class="text-center">
            <h1>{_('Registrace dokončena')}</h1>
            <p>{_('Registrace proběhla úspěšně. Vyčkejte prosím na potvrzovací e-mail. Po jeho potvrzení se budete moci přihlásit.')}</p><br><br><br>
        </div>
    </div>
{/block}