<a class="panel active-orders" n:href="order">
    <div class="overlay"></div>
    <p class="numbers"><span class="count counter">{$ordersActiveCount}</span>
        <span class="font-weight-light">({price($ordersActiveSum)})</span></p>
    <p>Nové objednávky</p>
</a>