<div class="col-xl-12" id="evidsoft" data-icon="ci ci-handshake">
    <div class="panel">
        <span>Tento eshop byl vyvinut společností</span>
        <a href="https://evidsoft.cz/"><img src="/project/img/evidsoft.svg"></a>
        <span>© {date('Y')}</span>
    </div>
</div>