<div class="panel help-contact">
    <div>
        <div class="headline">Nevíte si rady?</div>
        <div class="subline">Kontaktujte společnost EvidSoft</div>
        <div class="photo"></div>
    </div>

    <a href="tel:+420 776 150 100">
        <div class="phone">(+420) 776 150 100</div>
    </a>

    <div class="opening-hours">(Po - Čt 8:00 - 18:00 | Pá 8:00 - 16:30)</div>

    <a href="mailto:info@evidsoft.cz">
        <div class="email">info@evidsoft.cz</div>
    </a>
</div>


