{layout "../layout.latte"}
{block content}
    <h2 class="text-center">Děkujeme za odeslání reklamace.</h2>
    <p class="text-center">Vaši žádost jsme obdrželi a budeme ji co nejdříve zpracovávat. O dalším postupu vás budeme informovat e-mailem.</p>
{/block}