.our-work {
  background: #23081E;
  overflow: hidden;

  h2 {
    color: #FF4D9B;
    font-family: Oxanium;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
  }

  .subline {
    color: #FFF;
    font-family: Onest;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

@media(max-width: 991px) {
  .our-work {
    padding: 60px 0;
  }

  .our-work h2 {
    color: #FF4D9B;
    font-family: Oxanium;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
  }
}