.products-container {
    padding: 20px 0;

    .container {
        position: relative;
    }
}

@media (max-width: 1200px) {
    .products-container {
        padding: 0;
    }
}

@media (max-width: 768px) {
    .products-container {
        .product-list {
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -webkit-overflow-scrolling: touch;
            flex-wrap: nowrap;
            @include scrollbar();

            .product {
                flex: 0 0 calc(85% - 20px);
                scroll-snap-align: center;

                .item {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}