.news-list {
    .news-item {
        .image {
            height: 220px;
            background-position: center center;
            background-size: cover;
            border-radius: 6px;
            border: 1px solid $border-primary-item;
            margin-bottom: 15px;
            @include animation();

            &:hover {
                border: 1px solid $border-primary-item-hover;
            }
        }

        h3 {
            padding: 0 15px;
            font-size: 16px;
            font-weight: 700;
            margin: 0 0 15px;
        }

        .info {
            padding: 10px 15px;
            border-radius: 5px;
            margin-bottom: 15px;
            background: $background-primary-light;

            .date {
                background: url("/img/front/icons/components/news/date.svg") top 1px left no-repeat;
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                margin-right: 30px;
                padding-left: 24px;
            }

            .category {
                background: url("/img/front/icons/components/news/category.svg") top 3px left no-repeat;
                display: inline-block;
                font-size: 14px;
                font-weight: 600;
                padding-left: 24px;
            }
        }

        .perex {
            padding: 0 15px;
            font-size: 14px;
            line-height: 27px;
        }
    }
}

@media (max-width: 768px) {
    .news-list {
        .news-item {
            margin-bottom: 40px;

            h3 {
                padding: 0 10px;
            }

            .info {
                padding: 10px 10px;
            }

            .perex {
                padding: 0 10px;
                line-height: 24px;
            }
        }
    }
}